<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Visualization Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be focusing on the visualization of data.

The data set will be presented to you in the form of a RDBMS.

You will have to use SQL queries to extract the data.

## Objectives

In this lab you will perform the following:

-   Visualize the distribution of data.

-   Visualize the relationship between two features.

-   Visualize composition of data.

-   Visualize comparison of data.

<hr>

## Demo: How to work with database

Download database file.

In [ ]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m4_survey_data.sqlite

--2023-07-18 04:06:46--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m4_survey_data.sqlite
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 36679680 (35M) [application/octet-stream]
Saving to: ‘m4_survey_data.sqlite.2’

m4_survey_data.sqli 100%[===================>]  34.98M  29.2MB/s    in 1.2s

2023-07-18 04:06:49 (29.2 MB/s) - ‘m4_survey_data.sqlite.2’ saved [36679680/36679680]

Connect to the database.

In [ ]:
import sqlite3
conn = sqlite3.connect("m4_survey_data.sqlite") # open a database connection

Import pandas module.

In [ ]:
import pandas as pd

## Demo: How to run an sql query

In [ ]:
# print how many rows are there in the table named 'master'
QUERY = """
SELECT COUNT(*)
FROM master
"""

# the read_sql_query runs the sql query and returns the data as a dataframe
df = pd.read_sql_query(QUERY,conn)
df.head()

## Demo: How to list all tables

In [ ]:
# print all the tables names in the database
QUERY = """
SELECT name as Table_Name FROM
sqlite_master WHERE
type = 'table'
"""
# the read_sql_query runs the sql query and returns the data as a dataframe
pd.read_sql_query(QUERY,conn)

## Demo: How to run a group by query

In [ ]:
QUERY = """
SELECT Age,COUNT(*) as count
FROM master
group by age
order by age
"""
pd.read_sql_query(QUERY,conn)

## Demo: How to describe a table

In [ ]:
table_name = 'master'  # the table you wish to describe

QUERY = """
SELECT sql FROM sqlite_master
WHERE name= '{}'
""".format(table_name)

df = pd.read_sql_query(QUERY,conn)
print(df.iat[0,0])

# Hands-on Lab

## Visualizing distribution of data

### Histograms

Plot a histogram of `ConvertedComp.`

In [ ]:
QUERY = """
SELECT ConvertedComp
FROM master
"""

df = pd.read_sql_query(QUERY,conn)
df.plot(kind='hist')

### Box Plots

Plot a box plot of `Age.`

In [ ]:
QUERY = """
SELECT Age
FROM master
"""

df = pd.read_sql_query(QUERY,conn)
df.plot(kind='box')

## Visualizing relationships in data

### Scatter Plots

Create a scatter plot of `Age` and `WorkWeekHrs.`

In [ ]:
QUERY = """
SELECT Age,WorkWeekHrs
FROM master
"""

df = pd.read_sql_query(QUERY,conn)
df.plot(kind='scatter',x='WorkWeekHrs',y='Age')

### Bubble Plots

Create a bubble plot of `WorkWeekHrs` and `CodeRevHrs`, use `Age` column as bubble size.

In [ ]:
QUERY = """
SELECT Age,WorkWeekHrs,CodeRevHrs
FROM master
"""

df = pd.read_sql_query(QUERY,conn)
df.plot.scatter(x='WorkWeekHrs',y='CodeRevHrs',s=df['Age']**2/10)

## Visualizing composition of data

### Lab 18 - Pie Charts

Create a pie chart of the top 5 databases that respondents wish to learn next year. Label the pie chart with database names. Display percentages of each database on the pie chart.

In [ ]:
QUERY = """
SELECT *
FROM DatabaseDesireNextYear
"""
df = pd.read_sql_query(QUERY,conn)
new_df=df['DatabaseDesireNextYear'].value_counts().head(5)
new_df.plot(kind="pie", autopct='%1.0f%%')

In the list of popular languages respondents wish to learn next year, what is the rank of python?

In [ ]:
QUERY = """
SELECT *
FROM LanguageDesireNextYear
"""
df = pd.read_sql_query(QUERY,conn)
df['LanguageDesireNextYear'].value_counts().rank(ascending=False)

How many respondents indicated they currently work with 'SQL'?

In [ ]:
QUERY = """
SELECT *
FROM LanguageWorkedWith
WHERE LanguageWorkedWith = 'SQL'
"""
df = pd.read_sql_query(QUERY,conn)
len(df['LanguageWorkedWith'])

How many respondents indicated they currently work with 'MySQL', only?

SQL based method

In [ ]:
QUERY="""
SELECT DatabaseWorkedWith
FROM DatabaseWorkedWith
GROUP BY Respondent having count(*)=1 AND DatabaseWorkedWith='MySQL'
"""
df=pd.read_sql_query(QUERY,conn)
len(df)

Pandas based method

In [ ]:
QUERY="""
SELECT DatabaseWorkedWith, Respondent
FROM DatabaseWorkedWith
"""
df=pd.read_sql_query(QUERY,conn)
new_df=df.groupby('Respondent').filter(lambda x : len(x)<2)
len(new_df.loc[new_df['DatabaseWorkedWith']=='MySQL'])

### Stacked Charts

Create a stacked chart of median `WorkWeekHrs` and `CodeRevHrs` for the age group 30 to 35.

In [ ]:
QUERY = """
SELECT Age,WorkWeekHrs,CodeRevHrs
FROM master
WHERE Age >= 30 AND Age <= 35
"""

df = pd.read_sql_query(QUERY,conn)
df.groupby('Age').median().plot.bar(stacked=True)

## Visualizing comparison of data

### Lab 20 - Line Chart

Plot the median `ConvertedComp` for all ages from 45 to 60.

In [ ]:
QUERY = """
SELECT Age,ConvertedComp
FROM master
WHERE Age >= 45 AND Age <= 60
"""

df = pd.read_sql_query(QUERY,conn)
df.groupby('Age').median().plot()

Majority of the survey respondents are what type of developer?

In [ ]:
QUERY = """
SELECT *
FROM DevType
"""
df = pd.read_sql_query(QUERY,conn)
df['DevType'].value_counts()

What is the relationship between median `ConvertedComp` for all ages from 25 to 30?

In [ ]:
QUERY = """
SELECT Age,ConvertedComp
FROM master
WHERE Age >= 25 AND Age <= 30
"""

df = pd.read_sql_query(QUERY,conn)
df.groupby('Age').median().plot()

### Lab 21 - Bar Chart

Create a horizontal bar chart using column `MainBranch.`

In [ ]:
QUERY = """
SELECT MainBranch
FROM master
"""

df = pd.read_sql_query(QUERY,conn)
new_df=df.value_counts()
new_df.plot.barh()

Close the database connection.

In [ ]:
conn.close()

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2023-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).