<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd
import numpy as np

Load the dataset into a dataframe.

In [2]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [3]:
df.duplicated().sum()

154

Number of duplicate values in the Respondent column

In [4]:
df.duplicated(subset=['Respondent']).sum()

154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [5]:
df2=df.drop_duplicates()
len(df2)

11398

Verify if duplicates were actually dropped.

In [6]:
df2.duplicated().sum()

0

## Finding Missing values

Find the missing values for all columns.

In [7]:
df2.isna().sum()

Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       542
Ethnicity       675
Dependents      140
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [8]:
pd.isna(df2['WorkLoc']).sum()

32

Find out how many rows are missing in the column 'EdLevel'

In [9]:
pd.isna(df2['EdLevel']).sum()

112

Find out how many rows are missing in the column 'Country'

In [10]:
pd.isna(df2['Country']).sum()

0

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [11]:
df2.value_counts('WorkLoc')

WorkLoc
Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [12]:
#make a note of the majority value here, for future reference
#Office

Identify the value that is most frequent (majority) in the Employment column.

In [13]:
df2.value_counts('Employment')

Employment
Employed full-time    10968
Employed part-time      430
dtype: int64

Identify the value that is lower frequency (minority) in the UndergradMajor column.

In [14]:
df2.value_counts('UndergradMajor')

UndergradMajor
Computer science, computer engineering, or software engineering          6953
Information systems, information technology, or system administration     794
Another engineering discipline (ex. civil, electrical, mechanical)        759
Web development or web design                                             410
A natural science (ex. biology, chemistry, physics)                       403
Mathematics or statistics                                                 372
A business discipline (ex. accounting, finance, marketing)                244
A social science (ex. anthropology, psychology, political science)        210
A humanities discipline (ex. literature, history, philosophy)             207
Fine arts or performing arts (ex. graphic design, music, studio art)      161
I never declared a major                                                  124
A health science (ex. nursing, pharmacy, radiology)                        24
dtype: int64

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [15]:
df2['WorkLoc'].fillna('Office')

0                                                  Home
1                                                Office
2                                                  Home
3                                                  Home
4        Other place, such as a coworking space or cafe
                              ...
11547                                              Home
11548                                              Home
11549                                            Office
11550                                              Home
11551                                            Office
Name: WorkLoc, Length: 11398, dtype: object

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [16]:
pd.isna(df2['WorkLoc']).sum()

32

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [17]:
list(df2.value_counts('CompFreq').keys())

['Yearly', 'Monthly', 'Weekly']

How many respondents are being paid yearly?

In [18]:
df2.value_counts('CompFreq')['Yearly']

6073

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [19]:
dfd = df2.copy()
dfd.loc[:,'NormalizedAnnualCompensation']=np.where(df2.loc[:,'CompFreq']=='Yearly',df2.loc[:,'CompTotal'],
                                                np.where(df2.loc[:,'CompFreq']=='Monthly',df2.loc[:,'CompTotal']*12,
                                                np.where(df2.loc[:,'CompFreq']=='Weekly',df2.loc[:,'CompTotal']*52,
                                                         df2.loc[:,'CompTotal'])))
df_salary=dfd[['CompFreq','CompTotal','NormalizedAnnualCompensation']]
df_salary

      CompFreq  CompTotal  NormalizedAnnualCompensation
0       Yearly    61000.0                       61000.0
1       Yearly   138000.0                      138000.0
2       Yearly    90000.0                       90000.0
3      Monthly    29000.0                      348000.0
4       Yearly    90000.0                       90000.0
...        ...        ...                           ...
11547   Yearly   130000.0                      130000.0
11548   Yearly    74400.0                       74400.0
11549   Yearly   105000.0                      105000.0
11550   Yearly    80000.0                       80000.0
11551      NaN        NaN                           NaN

[11398 rows x 3 columns]

In [20]:
dfd = df2.copy()
for index, row in dfd.iterrows():
    Freq = dfd.loc[index,'CompFreq']
    if Freq=='Yearly':
        dfd.loc[index, 'NormalizedAnnualCompensation'] = row['CompTotal']
    elif Freq=='Monthly':
        dfd.loc[index, 'NormalizedAnnualCompensation'] = row['CompTotal']*12
    elif Freq=='Weekly':
        dfd.loc[index, 'NormalizedAnnualCompensation'] = row['CompTotal']*52
    else:
        dfd.loc[index, 'NormalizedAnnualCompensation'] = row['CompTotal']
df_salary=dfd[['CompFreq','CompTotal','NormalizedAnnualCompensation']]
df_salary

      CompFreq  CompTotal  NormalizedAnnualCompensation
0       Yearly    61000.0                       61000.0
1       Yearly   138000.0                      138000.0
2       Yearly    90000.0                       90000.0
3      Monthly    29000.0                      348000.0
4       Yearly    90000.0                       90000.0
...        ...        ...                           ...
11547   Yearly   130000.0                      130000.0
11548   Yearly    74400.0                       74400.0
11549   Yearly   105000.0                      105000.0
11550   Yearly    80000.0                       80000.0
11551      NaN        NaN                           NaN

[11398 rows x 3 columns]

What is the median Normalized Annual Compensation?

In [21]:
dfd['NormalizedAnnualCompensation'].median()

100000.0

## Which code is faster?

In [22]:
from timeit import default_timer as timer

In [23]:
#Iterrows has notoriously slow implementation
dfd = df2.copy()
start = timer()
for index, row in dfd.iterrows():
    Freq = dfd.loc[index,'CompFreq']
    if Freq=='Yearly':
        dfd.loc[index, 'NormalizedAnnualCompensation'] = row['CompTotal']
    elif Freq=='Monthly':
        dfd.loc[index, 'NormalizedAnnualCompensation'] = row['CompTotal']*12
    elif Freq=='Weekly':
        dfd.loc[index, 'NormalizedAnnualCompensation'] = row['CompTotal']*52
    else:
        dfd.loc[index, 'NormalizedAnnualCompensation'] = row['CompTotal']
df_salary=dfd[['CompFreq','CompTotal','NormalizedAnnualCompensation']]
end = timer()
print("The time taken is",end - start, "seconds")

The time taken is 3.0866045960065094 seconds

In [24]:
#Vectorized code is much faster
dfd = df2.copy()
start = timer()
dfd.loc[:,'NormalizedAnnualCompensation']=np.where(df2.loc[:,'CompFreq']=='Yearly',df2.loc[:,'CompTotal'],
                                                np.where(df2.loc[:,'CompFreq']=='Monthly',df2.loc[:,'CompTotal']*12,
                                                np.where(df2.loc[:,'CompFreq']=='Weekly',df2.loc[:,'CompTotal']*52,
                                                         df2.loc[:,'CompTotal'])))
end = timer()
print("The time taken is",end - start, "seconds")

The time taken is 0.006050780997611582 seconds

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).